.bar-date-detail-container, .bar-day-detail-container {
    min-width: 1150px;
    display: grid;
    grid-template-areas:"part1 part2"
                        "part3 part3";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    grid-auto-rows: minmax(150px, auto);
    margin: 3% auto;
    /* height: 100vh; */
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.pie-chart {
    grid-area: part1;
    background-color: #d8deff;
    margin: 0 1%;
}
.bar-chart-tts {
    grid-area: part2;
    background-color: #ffe4de;
    margin: 0 1%;
}
.line-chart-tts {
    grid-area: part3;
    background-color: #ffffc7;
}

.svgContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0 3%;
}

svg {
background: #eee;
overflow: visible;
display: block;
width: 100%;
height: 45vh;
}

.field {
display: inline-block;
margin: 0 0.3em 0 0;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}
